<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About</h1>
</div>

<div class="about-section">
  <h1>GROUP 7</h1>
  <p>Topic: Write a NodeJS+MongoDB+Railway application with at atleast 2 fucntions (Example add product and search products). Write a guide (step by step): how to deploy (put the website) to Heroku and connect to MongoDB.</p>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://img.freepik.com/premium-vector/student-avatar-illustration-user-profile-icon-youth-avatar_118339-4406.jpg?w=360" alt="Trinh" style="width:100%">
      <div class="container">
        <h2>Hồ Thăng Trình</h2>
        <p class="title">Leader</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://img.freepik.com/premium-vector/student-avatar-illustration-user-profile-icon-youth-avatar_118339-4406.jpg?w=360" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Trần Thế Huy</h2>
        <p class="title">Member</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="https://img.freepik.com/premium-vector/student-avatar-illustration-user-profile-icon-youth-avatar_118339-4406.jpg?w=360" alt="John" style="width:100%">
      <div class="container">
        <h2>Nguyễn Minh Phương</h2>
        <p class="title">Member</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://img.freepik.com/premium-vector/student-avatar-illustration-user-profile-icon-youth-avatar_118339-4406.jpg?w=360" alt="John" style="width:100%">
      <div class="container">
        <h2>Phan Xuân Quang</h2>
        <p class="title">Member</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://img.freepik.com/premium-vector/student-avatar-illustration-user-profile-icon-youth-avatar_118339-4406.jpg?w=360" alt="John" style="width:100%">
      <div class="container">
        <h2>Bùi Quang Sang</h2>
        <p class="title">Member</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<style>
  .column {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  </style>